<main class="page">
    <div class="container">
        <br>
        <div class="top-buffer"></div>
            <!--Titulo-->
            <h3>Registro</h3>
            <hr class="red">
            <!--Form-->
            <form role="form">
                <!--Nombre-->
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field>
                            <input matInput
                                    placeholder="Nombre"
                                    required>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <input matInput
                                    placeholder="Apellido Paterno"
                                    required>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <input matInput
                                placeholder="Apellido Materno">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field>
                            <input matInput
                                    placeholder="RFC del Usuario"
                                    required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field>
                            <input matInput
                                    placeholder="Calle y número"
                                    required>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <input matInput
                                    placeholder="Colonia"
                                    required>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-select placeholder="Entidad">
                                <mat-option>None</mat-option>
                                <mat-option value="option1">Option 1</mat-option>
                                <mat-option value="option2">Option 2</mat-option>
                                <mat-option value="option3">Option 3</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field>
                            <input matInput
                                    placeholder="Municipio">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <input matInput
                                    placeholder="CP">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field>
                            <input matInput
                                    placeholder="No. de Patente
                                    Agente Aduanal">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <input matInput
                                    placeholder="Agencia Aduanal">
                        </mat-form-field>
                    </div>
                </div>


                <mat-card>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field>
                                <input matInput
                                        placeholder="Cuenta de Usuario a Utilizar"
                                        required>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <input matInput
                                        placeholder="Correo Electrónico "
                                        required>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <input matInput
                                        placeholder="Confirmar Correo Electrónico"
                                        required>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-select placeholder="Pregunta"
                                required>
                                    <mat-option>None</mat-option>
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <input matInput
                                        placeholder="Respuesta Secreta"
                                        required>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card>
                <br>

                <button mat-raised-button color="primary" class="pull-right" 
                        type="submit">
                    Registrar
                </button>
                <button mat-raised-button
                        class="pull-right" 
                        [routerLink]="['/login']"
                        type="submit">
                    Cancelar
                </button>
                
                
            </form>
        <div class="top-buffer"></div>
    </div>
</main>